
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email Approval</title>
</head>
<body>
   <div>
       <h1>Wisconsin Track Club</h1>
       <div style="margin-left: -15px; margin-right: -15px;">
           <div style="padding: 25px; margin: 5px; background-color: whitesmoke">
               <div style="margin-left: -15px; margin-right: -15px; background-color: #b65f5d; color: white; padding: 2%;">
                   <div>
                       <h4 style="padding: 5%; margin-bottom: 20px; font-size: x-large;">
                            You've Been Approved!
                       </h4>
                   </div>
               </div>
               <hr style="border-color: black; box-shadow: 5px 5px 0px #888888;" />
               <p style="text-indent: 40px; font-size: medium; text-align: left;">Your status with Wisconsin Track Club has just been approved on our website. Thanks for getting all neccessary information into us.</p>
               <br />
               <p>Check out your profile at </p><a href="http://www.witrackclub.org">www.witrackclub.org</a>!</p>
           </div>
       </div>

   </div>
</body>
</html>
