@model WisconsinTrackClubWebsite.Models.ViewModels.OfficerViewModel

<div class="row">
    <div class="officerBlock">
        <div class="row announcementsRow">
           
            <div class="col-xs-12">
                <h4 class="announcementsTitle">

                    @Model.OfficerInContext.Name,
                    @if (Model.OfficerInContext.Position != null)
                    {
                        @Model.OfficerInContext.Position
                    }
                </h4>
            </div>
        </div>
        <hr class="announcementsHR" />
        @if (Model.OfficerInContext.Bio != null)
        {
            <p class="announcementsText">@Model.OfficerInContext.Bio</p>
        }
        @if (Model.OfficerInContext.Grade != null)
        {
            <p class="announcementsAuthor">@Model.OfficerInContext.Grade</p>
        }

    </div>
</div>

