
@{
    ViewBag.Title = "Moosletter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-11 information">
            <div class="pdfbox"><object data="../Assets/November_2014.pdf" type="application/pdf" width="100%" height="800"></object></div>
        </div>
    </div>
</div>
