
@{
    ViewBag.Title = "Moovin5k";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-11 information">
            <h2>Moovin' 5k</h2>
            <hr />
            <h3>
                2016 Results
            </h3>
            <p><a href="~/Assets/Men's Results.txt">Men's Results</a> | <a href="~/Assets/Women's Results.txt">Women's Results</a></p>
            <hr />
            
            <p>
                Calling all runners, walkers, and cow enthusiasts! The Wisconsin Track Club cordially invites YOU to come join the herd for a MOOvelous morning full of fitness and fun! 
                Bring your friends, family, and anybody you can COWnt on to be at the event! After the stampede has finished, feel free to graze on complimentary post-race snacks and drink 
                some milk (or water, if you prefer). Register by 4/2/16 to guarantee a Performance T-Shirt! Prizes will be awarded to the top male and female finisher!
            </p>
            <p>    
            Proceeds will go to subsidizing travel expenses for members of the Wisconsin Track Club so they can afford to compete in local meets as well as NIRCA (National Intercollegiate Running Club Association)
                 Regional and National meets. Additionally, proceeds will be donated to Achieving Collaborative Treatment, an organization that provides therapy and promotes physical activity for children with autism 
                spectrum disorders (<a href="http://www.actreatment.com">www.actreatment.com</a>). The race will be held on 4/16/16 at 10:00 am.
            </p>
            <br />
            <div class="row">
                <div class="col-xs-12 col-md-push-2 col-md-8">
                    <img class="img-responsive" src="~/Assets/MOOvin5k.png" width="644" height="404" />
                </div>
            </div>
            <br />
            <p><strong>***There will be timing system for this event</strong></p>
            <p><strong>***$50 Cash prize for 1st Male and Female Finisher, $25 for 2nd Male and Female Finisher!</strong></p>
            <p><strong>***Packet Pickup will start at 8:00AM the day of the event</strong></p>

            <h4>Race Registration</h4>
            <p>Please follow this <a href="https://runsignup.com/Race/WI/Madison/Moovin5K" target="_blank">here</a> to be taken to our registration page</p>
            <p>That's it! We hope to see you there!</p>

            <div class="row">
                <div class="col-sm-4">
                    <h3>Need to get in touch?</h3>
                    <p>
                        Don't sweat it! Reach out to our race coordinators below.
                        Name: Jing Shen<br />
                        Phone: (773)-575-5075<br />
                        Email: jshen39@wisc.edu<br />
                    </p>
                    <p>
                        Name: Karl Tremmel<br />
                        Phone: (414)-322-7550<br />
                        Email: ktremmel@wisc.edu<br />
                    </p>
                </div>
                
                <div class="col-sm-4 col-sm-push-4">
                    <img src="~/Assets/RSlogo_w-mantra_lightbackground.gif" class="img-responsive" />
                </div>
            </div>
            
        </div>
    </div>
</div>
