
@{
    ViewBag.Title = "Moovin5k";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-11 information">
            <h2>Moovin' 5k</h2>
            <p>
                Calling all runners, walkers, and cow enthusiasts! The Wisconsin Track Club cordially invites YOU to come join the herd for a MOOvelous morning full of fitness and fun! 
                Bring your friends, family, and anybody you can COWnt on to be at the event! After the stampede has finished, feel free to graze on complimentary post-race snacks and drink 
                some milk (or water, if you prefer). Register by 4/2/16 to guarantee a Performance T-Shirt! Prizes will be awarded to the top male and female finisher!
            </p>
            <p>    
            Proceeds will go to subsidizing travel expenses for members of the Wisconsin Track Club so they can afford to compete in local meets as well as NIRCA (National Intercollegiate Running Club Association)
                 Regional and National meets. Additionally, proceeds will be donated to Achieving Collaborative Treatment, an organization that provides therapy and promotes physical activity for children with autism 
                spectrum disorders (<a href="http://www.actreatment.com">www.actreatment.com</a>). The race will be held on 4/16/16 at 10:00 am.
            </p>
            <br />
            <div class="row">
                <div class="col-xs-12 col-md-push-2 col-md-8">
                    <img class="img-responsive" src="~/Assets/5k_map.png" width="644" height="404" />
                </div>
            </div>
            <br />
            <p><strong>***Chip timing will be used for this event</strong></p>
            <p><strong>***$50 Cash prize for 1st Male and Female Finisher, $25 for 2nd Male and Female Finisher!</strong></p>

            <h4>Race Registration Information Coming Soon!</h4>
            @*<p><strong>
                Only $20 to register!<br />
                Race Starts at 10 a.m., April 18!
            </strong></p>

            <h3>How do you register? Don't worry we have got you covered.</h3>
            <p><strong>It's a three step process</strong></p>
            <ol>
                <li><a href="https://docs.google.com/forms/d/1csTVGCDqXarUK7Qw3eu4550Ve0XWkuqtH62uo5Fk45A/viewform">Register here</a> - this will take you to a google poll.</li>
                <li><a href="https://squareup.com/market/wisconsin-track-club">Pay here</a> - make sure you select the moovin' 5k - this will take you to our square store to pay your registration fee.</li>
                <li>Go to race-day packet pick-up, 9 a.m. on April 16 at the Near West Fields (2298 Observatory Drive. Madison, WI 53726).
            Look for a red tent in the grass fields west of the Natatorium. </li>
            </ol>*@

            <p>That's it! We hope to see you there!</p>

            <div class="row">
                <div class="col-sm-4">
                    <h3>Need to get in touch?</h3>
                    <p>
                        Don't sweat it! Reach out to our race coordinators below.
                        Name: Jing Shen<br />
                        Phone: (773)-575-5075<br />
                        Email: jshen39@wisc.edu<br />
                    </p>
                    <p>
                        Name: Karl Tremmel<br />
                        Phone: (414)-322-7550<br />
                        Email: ktremmel@wisc.edu<br />
                    </p>
                </div>
                
                <div class="col-sm-4 col-sm-push-4">
                    <img src="~/Assets/RSlogo_w-mantra_lightbackground.gif" class="img-responsive" />
                </div>
            </div>
            
        </div>
    </div>
</div>
