
@{
    ViewBag.Title = "PastResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-11 information">
            <h2>Past Results</h2>
            <a href="http://witrackclub.org/PastResults.html">Past Results</a>
        </div>
    </div>
</div>

