
@{
    ViewBag.Title = "Performance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-11 information">
        <h2>Performance</h2>
            <p><strong>2014 Outdoor Track Performance Lists </strong></p>
            <a href="~/Assets/Outdoor_Track_2013_Men.pdf">Men</a>
            <br />
            <p><strong>2014 Indoor Track Performance Lists </strong></p>
            <a href="~/Assets/Indoor_Track_2014_Men.pdf">Men</a>
            <br />
            <p><strong>2013 Cross Country Performance Lists </strong></p>
            <a href="~/Assets/Cross_Country_2013_Men.pdf">Men</a>
            <br />
            <p><strong>2013 Outdoor Track Performance Lists </strong></p>
            <a href="~/Assets/Outdoor_Track_2013_Men.pdf">Men</a>
            <br />
            <p><strong>2013 Indoor Track Performance Lists </strong></p>
            <a href="~/Assets/Indoor_Track_2013_Men.pdf">Men</a>
            <br />
            <a href="~/Assets/Indoor_Track_2013_Women.pdf">Women</a>
            <br />
        </div>
    </div>
</div>

