
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 information">
            @Html.Partial("_sideNav");
            <h2>My Profile</h2>

        </div>
    </div>
</div>

