@{
    ViewBag.Title = "Our Sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-11 information">
            <h1>Our Sponsors</h1>
            <h3>The Wisconsin Track Club would like to extend our thanks and gratitude for our club sponsors!</h3>
            <br />
            <br />
            <br />
            <div class="row sponsorRow">
                <div class="col-xs-12">
                    <img src="~/Assets/uwbookstore.jpg" />
                </div>
            </div>
            <div class="row sponsorRow">
                <div class="col-xs-12">
                    <img src="~/Assets/sconnie.jpg" />
                </div>
            </div>
            <div class="row sponsorRow">
                <div class="col-xs-12">
                    <img src="~/Assets/bagelsForever.png" />
                </div>
            </div>
            <div class="row sponsorRow">
                <div class="col-xs-12">
                    <img src="~/Assets/capcenmarlogo.png" />
                </div>
            </div>
            <div class="row sponsorRow">
                <div class="col-xs-12">
                    <img src="~/Assets/moovin_5k.png" />
                </div>
            </div>
            <div class="row sponsorRow">
                <div class="col-xs-12">
                    <img src="~/Assets/art gecko.png" />
                </div>
            </div>

        </div>
    </div>
</div>
