
@{
    ViewBag.Title = "SummerTrack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-11 information">
            <h2>Summer Track Series</h2>
            <p>The Wisconsin Track Club presents our annual Summer Track Series: A set of four all-comers' track meets where everyone has the opportunity to participate in a track & field meet. The Summer Track Series is for people of all abilities and ages.</p>
            <table class="table">
                <tr>
                    <th>2016 Results:</th>
                    <td><a href="~/Assets/MeetofMiles1Mile.pdf">Meet of Miles 1 Mile, June 6</a>, 2016</td>
                    <td><a href="~/Assets/MeetofMiles3k.pdf">Meet of Miles 3k, June 6</a>, 2016</td>
                    <td><a href="~/Assets/2016STS1.pdf">Summer Track Series meet #1</a>, 2016</td>
                    <td><a href="~/Assets/2016STS2.pdf">Summer Track Series meet #2</a>, 2016</td>
                    <td><a href="~/Assets/2016STS3.pdf">Summer Track Series meet #3</a>, 2016</td>
                    <td><a href="~/Assets/2016STS4.pdf">Summer Track Series meet #4</a>, 2016</td>
                </tr>
                <tr>
                    <th>2015 Results:</th>
                    <td><a href="~/Assets/WTC2015STS1.pdf">June 18</a>, </td>
                    <td><a href="~/Assets/WTC2015STS2.pdf">June 25</a>, </td>
                    <td><a href="~/Assets/WTC2015STS3.pdf">July 9</a></td>
                    <td></td>
                </tr>
                <tr>
                    <th>2014 Results:</th>
                    <td><a href="~/Assets/2014STS1.pdf">June 18</a>, </td>
                    <td><a href="~/Assets/2014STS2.pdf">June 25</a>, </td>
                    <td><a href="~/Assets/2014STS3.pdf">July 10</a>, </td>
                    <td><a href="~/Assets/2014STS4.pdf">July 16</a></td>
                </tr>


            </table>
            <h5>Contact Info:</h5>
            <p>Jim Reardon, Wisconsin Track Club, Student Activity Center Rm. 3207 | 333 E. Campus Mall | Madison, WI 53715 or <a href="emailto:jcreardon@wisc.edu">email Jim</a>.</p>

        </div>
    </div>
</div>

