
@{
    ViewBag.Title = "Workouts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-11 information">
            <h2>Area Runs</h2>
            <p>
                Here are some maps and descriptions of routes upon which we do workouts.
            </p>
            <p>
                <a href="~/Assets/AreaRuns/lakeshore.gif">Edgewood Ave Hill:</a><br>
                <i>"bottom of hill":</i> transverse seam in pavement, crossing the whole of Edgewood Ave, in line with Edgewood Dr
                <br />
                <i>"top of hill":</i> transverse seam in pavement, crossing the whole of Edgewood Ave, closest to the top of the hill, but still SE of Jefferson St
                <br />
                <i>Distance from bottom of hill to top of hill :</i> 205 m +/-1 meter.
                <br />
                <i>Minimum distance between Vilas Ave, and Adams St:</i> 77 m
                <br />
                <i>Maximum slope:</i>8.0 degrees, ~14% grade.
                <br />
                <i>Above Adams St:</i> &lt;%
            </p>
            <p>
                <a href="~/Assets/AreaRuns/monona.gif">Edgewood Ave Loop:</a>
                <br />
                Typically run in clockwise direction.
                <br />
                Edgewood Ave is a steep uphill
                <br />
                Jefferson St is a gentle downhill.
                <br />
                Harrison St a steeper downhill.
                <br />
                Vilas Ave is flat.
                <br />
                Typical workout: run loop at constant pace, becoming tired at the top of Edgewood Ave, and recovering the rest of the way.
                <br />
                Loop length: 0.72 miles
            </p>
            <p>
                <a href="~/Assets/AreaRuns/wingra.gif">Picnic Point Loop:</a>
                <br />
                <i>Start: </i>line dividing bricks and dirt, transverse to path, near University Bay Dr
                <br />
                <i>distance from start, around circle at Picnic Point, and back to start:</i> 100,000" +/- 100" aka 2540m
            </p>
            <p>
                <a href="~/Assets/AreaRuns/mendota.gif">Topping Hill Loop:</a>
                <br />
                Typically run in clockwise direction.
                <br />
                Topping Rd includes a ~0.3 mile uphill.
                <br />
                Blackhawk Dr is steady downhill.
                <br />
                Edgehill Dr is rolling.
                <br />
                Loop length: 1.2 miles 
            </p>
            <p>
                <a href="~/Assets/AreaRuns/southwest.gif">Wingra Bike Path:</a>
                <br />
                <i>"curb ramp":</i> concrete section near road that includes ramp so that bikes don't have to jump a curb to get onto the bike path. About 20 feet in length.
                In between the curb ramp at Arboretum Dr and the curb ramp at Fish Hatchery Rd, the bike path is asphalt.
                <br />
                <i>length of asphalt between Arboretum Dr and Fish Hatchery Rd:</i> 0.5 mile +/- 1 foot. 
            </p>
            <p>
                <a href="~/Assets/AreaRuns/isthmus.gif">Bascom Mall:</a>
                <br />
                One loop on walkways indicated is 0.375 miles (www.gmap-pedometer).
                <br />
                The north and south sides are steady uphill, about 0.145 miles.
                <br />
                We avoid running on the grass because we don't want to damage the grass.

            </p>
            <p>
                <a href="~/Assets/AreaRuns/capitol.gif">Summit Ave Loop:</a>
                <br />
                Typically run in counter-clockwise direction.
                <br />
                One loop on roads indicated is 1 km +/- 15m (www.gmap-pedometer).
                <br />
                Summit Ave is steep and twisty, like an XC course except on pavement.
                <br />
                Watch out for traffic (especially when crossing Spooner) and respect property rights.
                <br />
                Open question, for further research: is Summit Ave steeper than Edgewood Ave.? 
            </p>
            <p>
                <a href="~/Assets/AreaRuns/capcitymapbw05.pdf">1200 Loop:</a> 
                <br />
                Legend has it generations of Badgers have trained on the 1200 Loop (loop at lower center of picture at left), deep in the UW Arboretum.
                One loop is very nearly 1200 m.
                <br />
                Also shown on the picture at left is route from the Mills St. entrance the the Arb. to the 'start' of the 1200 loop, staying on trails as much as possible. This is 1.57 miles according to gmap-pedometer.
                Starting at the Mills St. entrance to the Arb., running to the 1200 loop, running one lap of the 1200 loop, and running back to the Mills Street entrance to the Arb., would thus be about 3.99 miles.
            </p>
        </div>
    </div>
</div>


